.mainnav{
  color: DodgerBlue;
  font-family: Arial;
  display: flex;
  text-align: center;
}


.column-1{
  margin-top: 10px;
  width: 15%;
}


.column-2{
  margin-top: 20px;
  width: 90%
}


.categoryItem{
  font-size: 16px;
}
